  *
{
    margin: 0;
    padding: 0;    
    font-family: "Calibri", sans-serif;
}

.nav-tp
{
    width: 100%;   
    margin-top: -40px;
    height: 7.22014388489208vh;  
    background-color: #007653;
}

.div-head-tittle
{
    width: 100%;
    height: 10.333vh;  
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;        
    background-image: url('../img/bngGoni.png');

}

.div-head-tittle h2:before
{
    content: 'LISTADO DE PACIENTES';
    font: 900; 
    font-size: 1.5em;
    margin-left: 100px;
    color: #ffffff;
}